@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kanit:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700;900&family=Rubik:wght@400;500&display=swap');
:root{
    --primary-color: #FEFBFA;
    --secondary-color: #454442;
    --border-color: #F5F1F0;
    --third-color: #FF793C;
    --contrast-color: #3cc2ff;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 550;
}


section {
    display: grid;
    place-items: center;
    align-content: center;
}


.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.frame {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 95vw;
    height: 90vh;
    z-index: 1000;
}


.frame-icon-container {
  width:50%;
  transform: translateX(-0.75rem);
  display: flex;
  justify-content: end;
  align-items: center;
}

.frame-icon > a > img{
  width: 5vh;
  height: 5vh;
  transition: all 0.5s;
}

.frame-icon > a > img:hover {
  width: 7vh;
  height: 7vh;
}

.frame-icon {
  margin-left: 0.5rem;
}

.frame-line {
    border: 1px solid var(--secondary-color);
    animation: run 2s 1 linear;
}

.frame-border {
    border: 100vw solid var(--border-color);
    animation: run1 2s 1 linear;
}

@keyframes run {
    0%{
       border-left-color: var(--primary-color); 
    }
    25% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--primary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    50% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    75% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
        border-right-color: var(--secondary-color);
        border-top-color: var(--primary-color);
    }
  }

  @keyframes run1 {
    0%{
       border-left-color: var(--primary-color); 
    }
    25% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--primary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    50% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--border-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    75% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--border-color);
        border-right-color: var(--border-color);
        border-top-color: var(--primary-color);
    }
  }

  .header {
    max-width: 100%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .header-container {
    max-width: 100%;
    width: 100vw ;
    height: 140vh;
  }

  .hero {
    z-index: 1002;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .hero-p {
    font-size:1.15rem;
    width: 33vw;
}

  .hero-s {
    font-weight: 600;
    color: var(--contrast-color);
  }
  


  .nav {
    z-index: 999;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    right: 7vw;
    bottom: 7vh;
  }

  
  @media (min-width: 480px) and (max-width: 767px) {
    .nav {
      right: 8vw;
    }
  }
  
  /* For tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav {
        font-size: 1.7rem;
        right: 7vw;
        bottom: 8vh;
    }
  }
  
  /* For desktops and larger devices */
  @media (min-width: 1024px) and (max-width: 1439px) {
    .nav {
        font-size: 1.8rem;
        right: 5vw;
        bottom: 8vh;
        
    }
  }

  @media (min-width: 1440px) {
    .nav {
        right: 5vw;
        bottom: 8vh;
        font-size: 1.9rem;
    }
  }

  .nav-li {
    margin: 1rem 0;
    transition: opacity 0.5s;
  }

  .nav-li > a {
    text-decoration: none;
    color: var(--secondary-color);
    
  }

  .nav-li:hover {
    opacity: 0.5 ;
  }


  .canvas {
    position: absolute;    
    width: 100%;
    height: 100vh;
  }

  .canvas-low {
    z-index: 998;
    top: 45%;
  }

  .canvas-high {
    z-index: 997;
    top:45%;
  }
  .canvas-moon {
    z-index: 0;
    max-width: 100%;
    top:50;
    left:0;
  }

  .slides {
    display: flex;
  }

  .slide:nth-child(2) {
    transition-delay: 200ms;
  }

  .slide:nth-child(3) {
    transition-delay: 400ms;
  }

  /* Skills Section */

  .skills {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 999;
  }

  .skill-card-container {
    margin-top: 1rem;
    display: flex;
  }

  .skill-card-clipandcard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-card-clip {
    position: absolute;
    z-index: 1000;
  }


  .skill-card-clip > img {
    transform: translateY(-2.15rem);
    width: 1rem;
    height: 2.5rem;
  }


  .skill-card-outer {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14rem;
    width: 14rem;
    box-shadow: 1px 1px 5px var(--secondary-color);
    background-color: whitesmoke;
  }

  @media (max-width: 480px) {
    .skill-card-container {
      display: block;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .skill-card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .skill-card-inner {
    text-align: center;
    height: 12.5rem;
    width: 12.5rem;
    background-color: #a3e2ff ;
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    .skill-card-outer {
      height: 12rem;
      width: 12rem;
    }
    .skill-card-inner {
      height: 11rem;
      width: 11rem;
    }
  }

  .skill-title {
    font-weight: 700;
    height: 2rem;
    font-size: 1.4rem;
  }

  .skill-sets {
    width: 100%;
    height: 100%;
    text-align: start;
  }

  .skill-li {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    margin: 0.5rem;
    display: flex;
  }

  .skill-icon {
    position: absolute;
    transform: translateX(-1.5rem);
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    filter: grayscale(30%);
  }

  .project {
    z-index: 1001;
  }
  .photo-container {
    display: flex;
  }

  @media (max-width: 480px) {
    .photo-container {
      display: block;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .photo-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .photo-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .project {
    margin-top: 2rem;
  }


  .photo {
    text-align: center;
    height: 17.5rem;
    width: 12rem;
    margin: 1rem;
    box-shadow: 1px 1px 3px 0.5px var(--secondary-color);
    background-color: whitesmoke;
  }

  .photo-pic {
    text-align: start;
    transform: translateY(0.75rem);
    margin: auto;
    width: 11rem;
    height: 14rem;
    background-color: #ffc0a3;
  }

  .photo-title {
    font-weight: 600;
    font-size: 2rem;
    color:aliceblue;
    margin-left: 0.25rem;
  }

  .photo-skills {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 0.5rem;
    color: aliceblue;
    list-style-type: none;
  }
  
  .photo-front-bot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;  
    display: flex;
    flex-direction: row;
  }

  .photo-year {
    font-weight: 600;
    font-family: 'Kalam', cursive;
    margin: 0.25rem;
    font-size: 1.1rem;
  }

  .photo-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: end;
  }
  .photo-arrow > img {
    margin-right: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .photo-back {
    position: absolute;
    backface-visibility: hidden;
  }

  /* Flip Card */

  .flip-card {
    margin: 1rem;
    background-color: transparent;
    width: 12rem;
    height: 17.5rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility:hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  
  /* Style the back side */
  .flip-card-back {
    text-align: start;
    background-color: #ffc0a3;
    color: #d84400;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .flip-card-back-des {
    margin: 1rem;
    font-weight: 550;
    font-size: 1.1rem;
  }

  .flip-card-back-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background-color: #F5F1F0;
  }

  .flip-card-back-links > a{
    color: #d84400;
    margin: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }

  .flip-card-back-links > a:hover {
    font-size: 1.3rem;
  }

  /* Contact */

  .contact {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .contact-container {
    box-shadow: 2px 2px 3px 1px var(--secondary-color);
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 60vw;
    height: 60vh;
  }

  .send-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-container {
    width: 65%;
    display: flex;
    justify-content: end;
  }

  .submit-container > button {
    margin-top: 0.7rem;
    background-color: whitesmoke;
    border: none;
    font-size: 1.5rem;
    color: black;
    font-family: 'Kalam', cursive;
    transition: font-size 1s;
  }

  .submit-container > button:hover {
    font-size: 2rem;
  }

  .contact-form {
    color: #FEFBFA;
    background-color: var(--secondary-color);
    border: none;
    padding: 1rem;
  }

  @media (max-width: 480px) {
    .contact-container {
      width: 20rem;
      height: 14rem;
    }

    .contact-form {
      width: 18rem;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .contact-container {
      width: 25rem;
      height: 17.025rem;
    }

    .contact-form {
      width: 22.725rem;
    }
  }
  
  @media (min-width: 769px) {
    .contact-container {
      width: 33rem;
      height: 22.5rem;
    }

    .contact-form {
      width: 30rem;
    }
  }

  .contact-form::placeholder {
    /* Set the color of the placeholder text */
    color: #F5F1F0;
  }

  .contact-second {
    margin-top: 3rem;
    margin-bottom: 7rem;
  }

  /* Ticker */

.ticker {
  width: 100%;
  display: flex;
}

.ticker-rainbow {
  position: absolute;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3.5rem;
}

.ticker-tag {
  width: 100%;
  height: 0.7rem;
}

#t-red {
  background-color: #FF2E2E;
}

#t-orange {
  background-color: #FFA500;
}

#t-yellow {
  background-color:  #ffd500;
}

#t-green {
  background-color:  #66cd00;
}

#t-blue {
  background-color:  #0080ff;
}


.ticker__list {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: 'Kalam', cursive;
  display: flex;
  margin-top: 20px;
  animation: ticker 25s infinite linear;
}

  
.ticker__item {
  width: 15rem;
  margin-right: 1rem;
}
  
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

.back-top {
  opacity: 0;
  bottom: 2.5vh;
  position: fixed;
  z-index: 1001;
  transition: opacity 1s;
}

.back-top > a > img{
  transform: rotate(-90deg);
  width: 3rem;
  height: 4rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .back-top {
      left: 2vw;
  }
}

/* For desktops and larger devices */
@media (min-width: 1024px) {
  .back-top {
    left: 1.5vw;
}
}

@media (min-width: 1440px) {
  .back-top {
    left: 2vw;
}
}


