@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&family=Rubik:wght@400;500&display=swap');
:root{
    --primary-color: #FEFBFA;
    --secondary-color: #454442;
    --border-color: #F5F1F0;
    --third-color: #FF793C;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}

h1 {
  font-size: xxx-large;
  font-weight: 550;
}


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.frame {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 95vw;
    height: 90vh;
    z-index: 1000;
}

.frame-line {
    border: 1px solid var(--secondary-color);
    animation: run 2s 1 linear;
}

.frame-border {
    border: 100vw solid var(--border-color);
    animation: run1 2s 1 linear;
}

@keyframes run {
    0%{
       border-left-color: var(--primary-color); 
    }
    25% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--primary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    50% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    75% {
        border-left-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color);
        border-right-color: var(--secondary-color);
        border-top-color: var(--primary-color);
    }
  }

  @keyframes run1 {
    0%{
       border-left-color: var(--primary-color); 
    }
    25% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--primary-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    50% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--border-color);
        border-right-color: var(--primary-color);
        border-top-color: var(--primary-color);
    }
    75% {
        border-left-color: var(--border-color);
        border-bottom-color: var(--border-color);
        border-right-color: var(--border-color);
        border-top-color: var(--primary-color);
    }
  }

  .header {
    max-width: 100%;
    top: 0;
    left: 0;
    width: 95vw;
    height: 100vh;
  }

  .header-container {
    max-width: 100%;
    width: 100vw ;
    height: 150vh;
  }

  .hero {
    z-index: 1002;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .hero-p {
    font-size:large;
    width: 33vw;
}

  .hero-s {
    font-weight: 600;
    color: var(--third-color);
  }
  


  .nav {
    z-index: 997;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    left: 60%;
    top: 57.5%;
  }
  
  @media (min-width: 480px) and (max-width: 767px) {
    .nav {
      left: 65%;
    }
  }
  
  /* For tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav {
        left: 75%;
        top: 55%;
    }
  }
  
  /* For desktops and larger devices */
  @media (min-width: 1024px) {
    .nav {
        left: 80%;
        top: 55%;
    }
  }

  @media (min-width: 1440px) {
    .nav {
        left: 85%;
        top: 50%;
        font-size: xx-large;
    }
  }

  .nav-li {
    margin: 1rem 0;
    transition: opacity 0.5s;
  }

  .nav-li > a {
    text-decoration: none;
    color: var(--secondary-color);
    
  }

  .nav-li:hover {
    opacity: 0.5 ;
  }


  .canvas {
    position: absolute;    
    width: 100vw;
    height: 100vh;
  }

  .canvas-low {
    z-index: 998;
    top: 45%;
  }

  .canvas-high {
    z-index: 997;
    top:45%;
  }
  .canvas-moon {
    z-index: 0;
    max-width: 100%;
    top:50;
    left:0;
  }

  .slides {
    display: flex;
  }

  .slide:nth-child(2) {
    transition-delay: 200ms;
  }

  .slide:nth-child(3) {
    transition-delay: 400ms;
  }

  .photo-container {
    width: 70vw;
    display: flex;
    cursor: grab;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .photo {
    display: inline-block;
    font-family: "Rubik", serif;
    text-align: center;
    height: 17.5rem;
    width: 12rem;
    margin: 1rem;
    box-shadow: 0 0 3px 0.5px var(--secondary-color);
    background-color: #ff905c;
  }



  .photo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-weight: 550;
    font-size: large;
    background-color: whitesmoke;
  }

  .photo-bot {
    margin: 0.5rem;
    font-weight: 500;
    text-align: center;
    color: #F5F1F0;
  }

  .photo-des {
    width: 10rem;
    height: 8rem;
  }

  .photo-icons {
    margin-top: none;
    margin-bottom: 1rem;
  }

  .photo-icons > img{
    width: 2rem;
    height: 2rem;
  }
  .photo-links {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .photo-links a {
    margin: 0.5rem;
    border-radius: 5%;
    padding: 0.5rem;
    border: 2px solid whitesmoke;
    text-decoration: none;
    color: #F5F1F0;
    opacity: 1;
    transition: opacity 0.3s ;
  }


  .photo-links a:hover {
    opacity: 0.5;
  }


  

  
